/* Footer.css */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Adicione esta regra no CSS global ou específico para a área de conteúdo */
.content {
  padding-bottom: 4rem; /* Ajuste este valor conforme necessário */
}
