/* Reset some default styles */
  h2, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.gradient{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, orange, red, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
  
}
.gradient:hover{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to top, orange, red, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
  
}
/* Navbar styles */
.navbar {
  height: 50px;
  width: auto;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  box-shadow: 5px 5px 100px #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  color: #000;
  font-weight: bold;

}
.navbar-logo:hover{
  color: #aaa;
}
.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 10px; 
}
.navbar-link {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  background-color: orange;
}

.navbar-link:hover,
.navbar-link.active {
  background-color: red;
  color: #fff;
}