@font-face {
  font-family: 'SpaceX';
  src: url('../public/fonts/SpaceX.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  bottom: 0;
}